{% extends 'mainv2.html' %}
{% load static %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">


            		<img class="thumbnail" src="{{question.image.url}}">
					<div class="box-element product">
						<h6><strong> {{q.lesson_name}} </strong></h6>
						<hr>

						<p>lesson name: <strong>{{question.lesson_name}}</strong></p>
            <p>days left for answer: <strong>{{time_left}}</strong></p>
						<h4 style="display: inline-block; float: right"><strong>{{q.ref_code}}</strong></h4>
                        <p><a href="{% url 'core-v2:add_answer' question.slug %}"> add your answer here </a> </p> 

					</div>
				
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
			</div>
			
		</div>
        {% for a in answer %}
            <div class="col-lg-6">
                <div class="box-element">
                    <a  class="btn btn-outline-dark" href="/">&#x2190; Back to Home</a>
                    <hr>
                    <h3>Answer</h3>
                    <hr>
                    <div class="cart-row">
                        <div style="flex:2"><a href="{{ a.get_answer_url }}"><img class="row-image" src="{{a.image_answer.url}}"></a></div>
                        <div style="flex:2"><p>{{a.username}} 1</p></div>
                        <div style="flex:1"><p>{{a.description}}</p></div>



						{% if request.user in a.liked.all %}
						<div style="flex:1"><p><a href='{{a.get_like_url}}' class='btn btn-primary btn-md my-0 p'>Dislike</a></p></div>
						{% else %}
                        <div style="flex:1"><p><a href='{{a.get_like_url}}' class='btn btn-primary btn-md my-0 p'>add vote here</a></p></div>
						{% endif %}
                        
                    </div>
                </div>
            </div>
        {% endfor %}
	</div>
{% endblock content %}
